.text {
	color: white;
	text-align: center;
	font-size: 50px;
	text-shadow: 3px 3px 6px white;
}
.mainImg{
	width: 1000px
	padding-left:180px;
	float: left;

}
.marketing {
	color: white;
	font-family: monospace;
	text-align: center;
	font-size: 50px
}

.text2{
	color: white;
	text-align: center;
}

body{
	background: black;
}
.imgStyle{
	width: 250px

}
.btn{
  text-align: center;

}